#                                        DMS-COMMON-UX

registry=https://pkgs.dev.azure.com/BUDrivesOrg/_packaging/dms-common-ux/npm/registry/ 
                        
always-auth=true
; begin auth token
//pkgs.dev.azure.com/BUDrivesOrg/_packaging/dms-common-ux/npm/registry/:username=BUDrivesOrg
//pkgs.dev.azure.com/BUDrivesOrg/_packaging/dms-common-ux/npm/registry/:_password=OWtuVDdKcTdQWVBMRGZndmFFdkNqbE92N2Fsa2h3a09kVkdCc2t1OFdZd1hGTTNXSzRDaUpRUUo5OUJGQUNBQUFBQVRSOXI2QUFBU0FaRE9DRUM2
//pkgs.dev.azure.com/BUDrivesOrg/_packaging/dms-common-ux/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/BUDrivesOrg/_packaging/dms-common-ux/npm/:username=BUDrivesOrg
//pkgs.dev.azure.com/BUDrivesOrg/_packaging/dms-common-ux/npm/:_password=OWtuVDdKcTdQWVBMRGZndmFFdkNqbE92N2Fsa2h3a09kVkdCc2t1OFdZd1hGTTNXSzRDaUpRUUo5OUJGQUNBQUFBQVRSOXI2QUFBU0FaRE9DRUM2
//pkgs.dev.azure.com/BUDrivesOrg/_packaging/dms-common-ux/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

# cafile=./ssl.cer